////////////////////////////////////////
// GLOBAL SETUP 
////////////////////////////////////////

*,*:before,*:after {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 1.875em;
    font-family: 'Press Start 2P', cursive;
    color: black;
    text-align: center;
    position:center;
    background-color: #7e84e1;
}

h1 {
    font-size: 2.8rem;
    line-height: 3.4rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

h4{
    float:right;
    padding-right:8em;
}

p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@import 'piano.scss';