////////////////////////////////////////
// GLOBAL SETUP 
////////////////////////////////////////

$wrapper-max-width: 1000px;

*,*:before,*:after {
    box-sizing: border-box;
}

body {
    max-width: $wrapper-max-width;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Press Start 2P', cursive;
    color:white;
    text-align: center;
    background: #a1acfe;
}

h1 {
    font-size: 2.8rem;
    line-height: 3.4rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@import 'piano.scss';