////////////////////////////////////////
// GLOBAL SETUP 
////////////////////////////////////////

$wrapper-max-width: 1000px;

*,*:before,*:after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    max-width: $wrapper-max-width;
    margin: 0 auto;
    padding: 30px;
    font-family: 'Press Start 2P', cursive;
    color:white;
    text-align: center;
    background: #a1acfe;
}

h1 {
    font-size: 2.8rem;
    line-height: 3.4rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

hr {
    margin: 40px auto;
    max-width: 100px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0; 
}

.pen-intro {
    text-align: center;
}

@import 'piano.scss';