/* .piano {
  display: flex;
  height: 50vh;
  justify-content: center;
  overflow: hidden;
} */

.Keys {
  /* flex: 1; */
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
}

.white-key {
  border: 2px solid black;
  background: white;
  height: 500px;
  width: 50px;
}

.black-key {
  background: black;
  color: white;
  height: 500px;
  width: 25px;
}
