// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

$outline-width: 0.375em;
$shadow-width: 0.125em;

$button-background: white;
$sec-button-background: linear-gradient(
  124deg,
  #ff2400,
  #e81d1d,
  #e8b71d,
  #e3e81d,
  #1de840,
  #1ddde8,
  #2b1de8,
  #dd00f3,
  #dd00f3
);
$shadow-color: grey;

$alt-button-background: black;
$alt-sec-button-background: linear-gradient(
  124deg,
  #ff2400,
  #e81d1d,
  #e8b71d,
  #e3e81d,
  #1de840,
  #1ddde8,
  #2b1de8,
  #dd00f3,
  #dd00f3
);
$alt-shadow-color: grey;

.Keyboard {
  display: inline-block;
  position: relative;
  height: 35.75em;
  padding: 4em;
  background-color: red;

}

.KeysContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
}

.Keys {
  display: flex;
}

.white-key {
  background: $button-background;
  height: 26.25em;
  width: 4em;
  padding: 2.5em;
}

.black-key {
  background: $alt-button-background;
  height: 14.75em;
  width: 2.5em;
  margin: 0 -2.313em;
  padding: 2.5em;
}

.DrumButton {
  background-color: #92cd41;
  padding: 2.5em;
  right: 11.25em;
  bottom: 2.5em;
}

.Triangle, .Square, .Sine, .Sawtooth,{
  background-color: #e76e55;
  left: 11.25em;
  padding: 2.5em;
  bottom: 2.5em;
}

.eightbit-btn {
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;
  &.active {
    background: $sec-button-background;
    box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px
      $shadow-color;
  }

  &:active,
  &:focus {
    background: $sec-button-background;
    box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px
      $shadow-color;
  }

  &:active {
    box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-color;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    pointer-events: none;
  }

  &:before {
    top: -$outline-width;
    left: 0;
    border-top: $outline-width black solid;
    border-bottom: $outline-width black solid;
  }

  &:after {
    left: -$outline-width;
    top: 0;
    border-left: $outline-width black solid;
    border-right: $outline-width black solid;
  }

  &--black {
    background: $alt-button-background;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0em 0em
      $alt-shadow-color;

    &:active,
    &:focus {
      background: $alt-sec-button-background;
      box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0em 0em
        $alt-shadow-color;
    }

    &:active {
      box-shadow: inset $shadow-width $shadow-width 0em 0em $alt-shadow-color;
    }
  }
}

#cloud-left{
  float:left;
  height:10em;
  width:14em
  }
  
  #cloud-right{
  float:right;
  height:10em;
  width:14em;
  padding-bottom:3em;
  }
