$outline-width: 0.375em;
$shadow-width: 0.125em;

$button-background: white;
$sec-button-background: linear-gradient(124deg,
#ff2400,
#e81d1d,
#e8b71d,
#e3e81d,
#1de840,
#1ddde8,
#2b1de8,
#dd00f3,
#dd00f3);
$shadow-color: grey;

$alt-button-background: black;
$alt-sec-button-background: linear-gradient(124deg,
#ff2400,
#e81d1d,
#e8b71d,
#e3e81d,
#1de840,
#1ddde8,
#2b1de8,
#dd00f3,
#dd00f3);
$alt-shadow-color: grey;

.Keyboard {
  display: inline-block;
  position: relative;
  height: 35.75em;
  padding: 4em;
  background-color: red;
  max-width: 90vw;
}

.KeysContainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
}

.Keys {
  display: flex;
}

.white-key {
  background: $button-background;
  // transition: 2s;
  height: 26.25em;
  width: 4em;
  padding: 2.5em;
}

.black-key {
  background: $alt-button-background;
  height: 14.75em;
  width: 2.5em;
  margin: 0 -2.313em;
 padding: 2.5em;
}
.OctaveButton{
 background-color: #0101ff;
 padding: 2.5em;
 bottom: 2.5em;
}
.DrumButton {
 background-color: #92cd41;
 padding: 2.5em;
  bottom: 2.5em;
}

.Triangle,
.Square,
.Sine,
.Sawtooth,
  {
  background-color: #e76e55;
  padding: 2.5em;
  bottom: 2.5em;
}

.eightbit {
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
  box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;

  &.active {
    background: $sec-button-background;
    box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px $shadow-color;
  }

  &:active,
  &:focus {
    background: $sec-button-background;
    box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0px 0px $shadow-color;
  }

  &:active {
    box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-color;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    pointer-events: none;
  }

  &:before {
    top: -$outline-width;
    left: 0;
    border-top: $outline-width black solid;
    border-bottom: $outline-width black solid;
  }

  &:after {
    left: -$outline-width;
    top: 0;
    border-left: $outline-width black solid;
    border-right: $outline-width black solid;
  }

  &--black {
    background: $alt-button-background;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0em 0em $alt-shadow-color;

    &:active,
    &:focus {
      background: $alt-sec-button-background;
      box-shadow: inset (-$shadow-width * 1.5) (-$shadow-width * 1.5) 0em 0em $alt-shadow-color;
    }

    &:active {
      box-shadow: inset $shadow-width $shadow-width 0em 0em $alt-shadow-color;
    }
 }
}
@media only screen and (min-width:0px) and (max-width:299px){
  .OctaveButton,.DrumButton, .Triangle, .Square, .Sine, .Sawtooth {
    padding: .3em;
    font-size: 2px;
    margin-top:2%;
    width:10px;
    height:5px;
  }
  body {
    font-size: 2px;
  }
  img, iframe {
    width:20%;
  }
  .key-button{
    width:5px;
    height:2px;
  }
}

@media only screen and (min-width:300px) and (max-width:599px){
  .OctaveButton, .DrumButton, .Triangle, .Square, .Sine, .Sawtooth {
    padding: .2em;
    font-size: 3px;
    margin-top:2%;
    width:20px;
    height:10px;

  }
  body {
    font-size: 3px;
  }
  img, iframe {
    width:30%;
  }
   .key-button{
    width:13px;
    height:5px;
  }
}
@media only screen and (min-width:600px) and (max-width:899px){
  .OctaveButton, .DrumButton, .Triangle, .Square, .Sine, .Sawtooth {
    padding: .5em;
    font-size: 5px;
    margin-top:2%;
    width:40px;
    height:20px;
  }
  body {
    font-size: 7px;
  }
   img, iframe {
    width:40%;
  }
  .key-button{
    width:25px;
    height:15px;
  }
 }
 @media only screen and (min-width:900px) and (max-width:950px){
  .OctaveButton, .DrumButton, .Triangle, .Square, .Sine, .Sawtooth {
    padding: .6em;
  }
  body {
     font-size: 10px;
   }
 
   img, iframe {
     width:40%;
   }
 }